# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
*.code-workspace

# ==========================
# Arquivos temporários
# ==========================
*.log
*.tmp
*.bak
*.swp
*.swo

# ==========================
# Banco de Dados
# ==========================
*.sqlite
*.db

# ==========================
# Arquivos do MySQL Workbench
# ==========================
*.mwb.bak

# ==========================
# Configurações locais
# ==========================
.env

# ==========================
# Cache
# ==========================
.cache/
